<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AHPL - All Events</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class="date">Today is {{ today }}</h1>
    {% if crNoEvents == False %}
    <h1 class="roomTitle">Community Room (Lower Level): </h1>
    <br>
    <table class="eventTable">
        <tr>
            <th class="nameHeader">Event Title</th>
            <th class="timeHeader">Event Time</th>
        </tr>
        {% for crEvent in crEvents %}
        <tr>
            <td class="eventName">{{ crEvent.eventName }}</td>
            <td class="eventTime">{{ crEvent.eventTime }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <br>
    {% endif %}

    {% if scrNoEvents == False %}
    <h1 class="roomTitle">Small Conference Room (Lower Level): </h1>
    <br>
    <table class="eventTable">
        <tr>
            <th class="nameHeader">Event Title</th>
            <th class="timeHeader">Event Time</th>
        </tr>
        {% for scrEvent in scrEvents %}
        <tr>
            <td class="eventName">{{ scrEvent.eventName }}</td>
            <td class="eventTime">{{ scrEvent.eventTime }}</td>
        </tr>
        {% endfor %}
    </table>
    <br>
    <br>
    {% endif %}

    {% if arNoEvents == False %}
    <h1 class="roomTitle">Activity Room (Lower Level): </h1>
    <br>
    <table class="eventTable">
        <tr>
            <th class="nameHeader">Event Title</th>
            <th class="timeHeader">Event Time</th>
        </tr>
        {% for arEvent in arEvents %}
        <tr>
            <td class="eventName">{{ arEvent.eventName }}</td>
            <td class="eventTime">{{ arEvent.eventTime }}</td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
    <br>
    <br>
    <br>
    <table class="wayfindingTable">
        <tr>
            <Td class="Arrow" id="WayfindTop-Arrow">&#11166</Td>
            <Td class="direction" id="WayfindTop-Direction">Reading Room</Td>
        </tr>
        {% if allEventsCount <= 7 %}
        <tr>
            <Td class="Blank"></Td>
            <Td class="direction-interior">Magazines</Td>
        </tr>
        <tr>
            <Td class="Blank"></Td>
            <Td class="direction-interior">Large Print</Td>
        </tr>
        {% endif %}
        <tr>
            <Td class="Arrow">&#11164</Td>
            <Td class="direction">Information Services</Td>
        </tr>
        {% if allEventsCount <= 7 %}
        <tr>
            <Td class="Blank"></Td>
            <Td class="direction-interior">Study Rooms</Td>
        </tr>
        <tr>
            <Td class="Blank"></Td>
            <Td class="direction-interior">Computers</Td>
        </tr>
        <tr>
            <Td class="Blank"></Td>
            <Td class="direction-interior">Books and Media</Td>
        </tr>
        {% endif %}
        <tr>
            <Td class="Arrow">&#11167</Td>
            <Td class="direction">Youth Services - Discovery Center</Td>
        </tr>
    </table>
</body>
</html>