/*
AHPL Colors
Blue: #0298d2
Red: #db3827
Orange: #f19238
Green: #74ac43
Grey: #333333
*/

body
{
    font-family: Montserrat, sans-serif;
    background-color: #333333;
    color: white;
    text-shadow: black 1px 1px;
}

h1
{
    text-align: center;
    font-size: 60px;
    padding: 0;
    margin: 0;
}
h2
{
    text-align: center;
    font-size: 76px;
    color: #c53223;
}
h3
{
    font-size: 42px;
    text-align: center;
}
th
{
  /*text-decoration: underline;*/
  padding: 10px;
  padding-bottom: 4px;
  color: #0298d2;
    border-bottom: 7px solid #00b0d2;
}
td
{
    /* border-bottom: 2px solid #f19238; */
}

.eventTable, .wayfindingTable
{
    width: 100%;
    text-align: center;
    font-size: 48px;
}

.direction-interior
{
    font-family: Montserrat-thin, sans-serif;
    border: none;
    text-align: left;
    padding-left: 300px;
}

.direction
{
    text-align: left;
    padding-left: 150px;
    border-top: 2px solid #f19238;
}

.Arrow
{
    font-size: 100px;
    width: 25%;
    border-top: 2px solid #f19238;
}

.Blank
{
    border-bottom: none;
}